{% extends 'base.html' %}

{% block content %}
<style>
    body {
        background-color: pink;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    h1 { 
        margin-bottom: 15px;
        color: black;
        font-size: 30px;
    }

    form {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
        width: 600px;
        display: flex;
        flex-direction: column;
        align-items: right;
        margin-left: 500px; 
    }

    input[type="text"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    input[type="submit"] {
        background-color: rgb(105, 105, 249);
        color: white;
        font-weight: bold;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
    }

    /* CSS untuk image kitten */
    .kitten-img {
        display: flex;
        align-items: center; 
        margin-top: -180px;
    }

    .kitten {
        width: 330px; 
        height: 330px; 
        margin-left: 30px;
    }

</style>

<div class="form">
    

    <form method="POST" id="add-book-form">
        {% csrf_token %}
        <table>
            <h1>Add New Book</h1>
            <tr>
                <td>Title: </td>
                <td><input id="title" type="text" name="title" placeholder="Title" class="form"></td>
            </tr>
            <tr>
                <td>Cover Link: </td>
                <td><input id="cover_link" type="text" name="cover_link" placeholder="Link" class="form"></td>
            </tr>
            <tr>
                <td>Author: </td>
                <td><input id="author" type="text" name="author" placeholder="Author" class="form"></td>
            </tr>
            <tr>
                <td>Harga: </td>
                <td><input id="harga" type="text" name="harga" placeholder="Harga" class="form"></td>
            </tr>
            <tr>
                <td>
                <td style="text-align: center;"><input type="submit" value="Add Book" id="add-book-button"/>
                </td>
            </tr>
        </table>
    </form>
    
    <div class="kitten-img"> 
        <img class="kitten" src="https://png.pngtree.com/png-clipart/20230417/original/pngtree-cute-kitten-cartoon-png-image_9062557.png" alt="kitten">
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<script>
    $(document).on('click','#add-book-button', function(e){

        const title = $('#title').val().trim();
        const cover_link = $('#cover_link').val().trim();
        const author = $('#author').val().trim();
        const harga = $('#harga').val().trim();

        if(!Number.isInteger(parseInt(harga, 10))){
            alert('Harga harus berupa angka');
        }
        else if(!title || !cover_link || !author || !harga){
            alert("Input tidak boleh ada yang kosong");
        }else{
            let data = new FormData();
            data.append('title', title);
            data.append('cover_link', cover_link);
            data.append('author', author);
            data.append('harga', harga);

            $.ajax({
                type: 'POST',
                url: '{% url "katalog_buku:add_book_ajax" %}',
                data: data,
                cache: false,
                processData: false,
                contentType: false,
                enctype: 'multipart/form-data',
            });
            alert("Buku berhasil ditambahkan");
        }

    })


    // const form = document.getElementById('add-book-form');
    // const addButton = document.getElementById('add-book-button');

    // form.addEventListener('submit', function(event) {
    //     event.preventDefault();
    //     const formData = new FormData(this);
    //     fetch('/your_add_book_url/', {
    //         method: 'POST',
    //         body: formData
    //     })
    //     .then(response => response.json())
    //     .then(data => {
    //         // Tindakan selanjutnya setelah menambahkan buku
    //         console.log(data);
    //     })
    //     .catch(error => {
    //         console.error('Error:', error);
    //     });
    // });
</script>

{% endblock %}