{% extends 'base.html' %}

{% block content %}
    <h1>Shopping List Page</h1>

    <h5>Name:</h5>
    <p>{{name}}</p>

    <h5>Class:</h5>
    <p>{{class}}</p>


<table>
    <tr>
        <th>Title</th>
        <th>Cover</th>
        <th>Price</th>
        <th>Rating</th>
    </tr>

    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

    {% for product in products %}
        <tr>
            <td>{{product.cover_link}}</td>
            <td>{{product.title}}</td>
            <td>{{product.harga}}</td>
            <td>{{product.average_rating}}</td>
        </tr>
    {% endfor %}
</table>

<br />

<a href="{% url 'main:add_book' %}">
    <button>
        Add New Book
    </button>
</a>

{% endblock content %}