{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}

<div class="container min-vh-100 d-flex justify-content-center align-items-center" style="height: 70%; width: 70%;">
    <div class="card">
        <div class="card-header d-flex justify-content-start align-items-center mt-2 mb-2 bg-white">
            <h5>Carousell PBP</h5>
        </div>
        <div class="card-body">
            <form form method="POST" action="">
                {% csrf_token %}
                <div>
                    <div class="mb-3">
                      <label class="form-label">Username</label>
                      <input type="text" name="username" placeholder="Username" class="form-control">
                    </div>
                    
                    <div class="">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" name="password" placeholder="Password" class="form-control">
                    
                    </div>
                    <div class="">
                        {% if messages %}
                            <p class="text-danger">Wrong Password</p>
                        {% endif %}
                    </div>
                    
                </div>
                <button type="submit" class="btn btn-primary mt-3" style="width: 100%;">Login</button>
            </form>
            <div class="mt-3">          
                Don't have an account yet? <a href="{% url 'main:register' %}">Register Now</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}