{% extends 'base.html' %}

{% block meta %}
    <title>Add Member</title>
{% endblock meta %}

{% block content %}
<div class="container mt-5">
    <div style="background-color: #8B4513; color: #fff; padding: 20px; border-radius: 10px; text-align: center;">
        <h2 style="font-family: 'Arial Black', sans-serif; font-size: 36px;">Welcome to <span style="color: #FFD700;">Purrfect Pages</span>^-^</h2>
    </div>
    <form method="post" style="margin-top: 20px;">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label" style="color: #8B4513; font-weight: bold;">Username</label>
            <input type="text" class="form-control" id="username" name="username" required style="background-color: #FFF8DC; color: #8B4513; border: 2px solid #8B4513; border-radius: 10px; padding: 10px; margin-bottom: 20px;">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label" style="color: #8B4513; font-weight: bold;">Email</label>
            <input type="email" class="form-control" id="email" name="email" required style="background-color: #FFF8DC; color: #8B4513; border: 2px solid #8B4513; border-radius: 10px; padding: 10px; margin-bottom: 20px;">
        </div>
        <div class="mb-3">
            <label for="role" class="form-label" style="color: #8B4513; font-weight: bold;">Role</label>
            <select class="form-select" id="role" name="role" required style="background-color: #FFF8DC; color: #8B4513; border: 2px solid #8B4513; border-radius: 10px; padding: 10px; margin-bottom: 20px;">
                <option value="customer">Pelanggan</option>
                <option value="employee">Karyawan</option>
            </select>
        </div>
        <div class="mb-3" id="status-field" style="display: none;">
            <label for="status" class="form-label" style="color: #8B4513; font-weight: bold;">Status</label>
            <select class="form-select" id="status" name="status" required style="background-color: #FFF8DC; color: #8B4513; border: 2px solid #8B4513; border-radius: 10px; padding: 10px;">
                <option value="member">Member</option>
                <option value="non_member">Non-Member</option>
            </select>
        </div>
        <script>
            document.getElementById('role').addEventListener('change', function() {
                var statusField = document.getElementById('status-field');
                if (this.value === 'customer') {
                    statusField.style.display = 'block';
                } else {
                    statusField.style.display = 'none';
                }
            });
        </script>
        <button type="submit" class="btn btn-primary" style="background-color: #8B4513; border: none; border-radius: 10px; padding: 10px 20px; font-size: 18px; cursor: pointer; color: #ffff;">Register</button>
    </form>
</div>

{% endblock content %}
